<!-- <app-attribute></app-attribute>
<app-ngswitch></app-ngswitch>
<app-warningalert></app-warningalert>
<app-successalert></app-successalert>
<app-assdatabinding></app-assdatabinding>
<app-demodirective></app-demodirective>
<app-temprefvariable [myinput]="uname" ></app-temprefvariable> -->

<!-- <h1>This is parent component</h1>
<app-child [items]="employee"></app-child> -->
<!-- <app-child1 [parantData]="userDetails"></app-child1> -->

<!-- <ul *ngFor="let f of foods">
    <li>
        {{f}}
    </li>
</ul>
<div>
<app-output (foodevent)="getDataFromChild($event)"></app-output>
</div> -->

<!-- <ul *ngFor="let f of favBooks">
    <li>
        {{f.title}}
    </li>
</ul>

<app-childto-parrent (bookTitleCreated)=onBookAdded($event)></app-childto-parrent>
 -->

<!-- <select (change)="uid=sid.value" #sid>
    
    <option selected desabled>No value selected</option>
    <option [value]="id" *ngFor="let id of [1,2,3,4]">
        {{id}}
    </option>
</select>-->

  <!-- <app-hooks *ngIf="appchildExits" [userId]="uid"></app-hooks> 
 OnDistroy remove button
<button class="btn btn-danger" (click)="destroy()">Distroy component</button> -->

<!-- <app-simpletempform></app-simpletempform> -->
<!-- <app-templetform></app-templetform> -->
    <app-reactiveform></app-reactiveform>
<!-- <app-templethomework></app-templethomework>-->
 <!-- <app-reactivehomework></app-reactivehomework>  -->
 <!-- <app-reactiveformhw2></app-reactiveformhw2> -->
 <!-- <app-rectiveformassignment></app-rectiveformassignment> -->
 <!-- <app-servicecomp1></app-servicecomp1>
 <app-servicecomp2></app-servicecomp2> -->
<!-- <app-apitable></app-apitable> -->
  <!-- <app-rforms></app-rforms> -->
  <!-- <app-component1></app-component1>
  <app-component2></app-component2>
  <app-component3></app-component3>
   -->
<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-filterpipe></app-filterpipe> -->



  <!-- <header style="background-color: aqua; text-transform: capitalize;">
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item"> <a class="nav-link"  routerLinkActive="active"  routerLink="rhome/">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="raboutus/">About us</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="rproducts/">Products </a> </li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="rcontactus/">Contact us</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="post/">post </a> </li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="cars/">cars </a> </li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="orders/">orders </a> </li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="add-user/">adduser </a> </li>

        </ul>
    </nav>
 </header>  -->

 <!-- <button (click)="DeletePost()">Delete post</button>  -->
 
<!-- <app-rapidapi></app-rapidapi> -->
<app-firebasepostapi></app-firebasepostapi>

 <!-- <app-getalbumsapi></app-getalbumsapi> -->
<!-- <app-login></app-login> -->
<!-- <app-login1></app-login1> -->


<!-- <router-outlet></router-outlet> -->













