<div class="row">
    <div class="col-md-8">
        <div class="card">
            <img class="card-img-top" src="../../assets/images/audi.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bmw</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="bmw" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/images/audi1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bmw1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="bmw" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/images/bmw.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">audi</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="oudi" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/images/bmw1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">audi</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="oudi" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
      <router-outlet></router-outlet>
    </div>
</div>

